@import url('https://fonts.googleapis.com/css?family=Work+Sans:400,700&display=swap');

html, body {
    height: 100%;
    width: 100%;
    padding: 0px;
    margin: 0px;
    font-family: 'Work Sans', sans-serif;
}

.root {
    height: 100%;
    width: 100%;
    line-height: 1.5em;
    color: #e4e4e4;
}

.test {
    color: rgba(35, 57, 177, 0.459);
}